@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
:root {
  --LightColar-color: #f08080;
  --IndianRed-color: #cd5c5c;
  --Salmon-color: #fa8072;
  --LightPink-color: #ffb6c1;
  --PaleVioletRed-color: #db7093;
  --White-color: #ffffff;
  --Violet-color: #380c83;
  --HotPink-color: #ff69b4;
  --Aqua-color: #00ffff;
  --DarkViolet-color: #300d6d;
  --LightBlue-color: #26aaaa;
  --LightViolet-color: #4f10bd;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.body-wraper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #300d6d;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.logo .logo_text {
  font-family: "Dancing Script", cursive;
  font-size: clamp(2rem, 1.775rem + 1.125vw, 3.125rem);
  color: var(--White-color);
}

.firstlogo {
  border-radius: 50%;
}

.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 2;
  cursor: pointer;
}

.header__burger-btn span {
  display: block;
  position: absolute;
  width: 30px;
  height: 3px;
  left: 5px;
  background-color: var(--HotPink-color);
  -webkit-transition: background-color 0.3s, opacity 0.3s, -webkit-transform 0.5s;
  transition: background-color 0.3s, opacity 0.3s, -webkit-transform 0.5s;
  transition: background-color 0.3s, opacity 0.3s, transform 0.5s;
  transition: background-color 0.3s, opacity 0.3s, transform 0.5s, -webkit-transform 0.5s;
  will-change: transform;
}

.header__burger-btn:hover span {
  background-color: var(--HotPink-color);
}

.header__burger-btn span:nth-child(1) {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

/* Крестик */
.header.open .header__burger-btn span {
  background-color: var(--HotPink-color);
}

.header.open .header__burger-btn span:nth-child(1) {
  -webkit-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu__item:not(:last-child) {
  margin-right: 20px;
}

.menu__link {
  font-size: 16px;
}

@media (max-width: 992px) {
  .header__burger-btn {
    display: block;
  }
  .menu {
    position: absolute;
    right: -350px;
    top: 0;
    width: 300px;
    padding: 75px 20px 20px 20px;
    background-color: var(--DarkViolet-color);
    visibility: hidden;
    -webkit-transition: visibility 0.5s, -webkit-transform 0.5s;
    transition: visibility 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, visibility 0.5s;
    transition: transform 0.5s, visibility 0.5s, -webkit-transform 0.5s;
    will-change: transform;
    border-radius: 0px 0px 10px 10px;
  }
  .menu__list {
    display: block;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
  .menu__link {
    color: var(--White-color);
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    display: block;
    padding: 10px;
  }
  .header.open .menu {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    visibility: visible;
  }
}
@media (hover: hover) {
  .menu__link:hover {
    background-color: var(--HotPink-color);
  }
}
@media (hover: none) {
  .menu__link:active {
    background-color: var(--HotPink-color);
  }
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  padding: 0px 10px;
}

.text {
  font-family: "Dancing Script", cursive;
  font-size: clamp(2rem, 1.775rem + 1.125vw, 3.125rem);
  color: var(--White-color);
}

li {
  list-style: none;
  color: var(--White-color);
}

.kristi {
  border-radius: 50%;
}

@media (max-width: 557px) {
  .firstlogo {
    display: none;
  }
  .Header {
    top: 0;
  }
}
@media (max-width: 427px) {
  .Navigation {
    gap: 20px;
  }
}
main {
  margin-top: 100px;
}

.Section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 800px;
  width: 100%;
  background-color: var(--DarkViolet-color);
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.Section .Slogen {
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  height: 800px;
}
.Section .Slogen .Big-Slogen {
  font-family: "Roboto", sans-serif;
  font-size: clamp(2rem, 1.65rem + 1.75vw, 3.75rem);
  font-weight: 600;
  font-style: oblique;
}
.Section .Slogen .Big-Slogen .Color-Slogen {
  color: var(--IndianRed-color);
}
.Section .Slogen .Little-Slogen {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.Section .Section-Title {
  position: relative;
}
.Section .Section-Title img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.Section .Section-Title::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--DarkViolet-color)), color-stop(transparent), to(transparent)), -webkit-gradient(linear, left top, left bottom, from(var(--DarkViolet-color)), color-stop(transparent), to(transparent)), -webkit-gradient(linear, right top, left top, from(var(--DarkViolet-color)), color-stop(transparent), to(transparent));
  background-image: linear-gradient(to right, var(--DarkViolet-color), transparent, transparent), linear-gradient(to bottom, var(--DarkViolet-color), transparent, transparent), linear-gradient(to left, var(--DarkViolet-color), transparent, transparent);
}

.section-about__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}
.section-about__me .aboutme-list {
  margin: 0px 40px;
}
.section-about__me .aboutme-list .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: oblique;
}
.section-about__me .aboutme-list .list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--Violet-color);
}
.section-about__me .aboutme-list h1 {
  font-family: "Roboto", sans-serif;
  font-style: oblique;
  font-size: clamp(2rem, 1.775rem + 1.125vw, 3.125rem);
}
.section-about__me .aboutme-list h1 span {
  color: var(--IndianRed-color);
}
.section-about__me .animation {
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px 12px rgb(219, 219, 219);
          box-shadow: 0px 0px 10px 12px rgb(219, 219, 219);
}

@-webkit-keyframes fade-in {
  from {
    translate: -25vw;
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    translate: -25vw;
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  from {
    translate: 25vw;
    opacity: 0;
  }
}
@keyframes fade-out {
  from {
    translate: 25vw;
    opacity: 0;
  }
}
.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}

.card {
  width: 300px;
  height: 450px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  view-timeline-name: --fade-in-image;
  animation-timeline: --fade-in-image;
  animation-range: 10% 30%;
}

.product,
.description {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  text-align: center;
  background-color: #fff;
}

.product,
.description {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.description {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: var(--Violet-color);
  border-radius: 10px;
}
.description p {
  font-family: "Roboto", sans-serif;
  font-style: oblique;
  color: var(--White-color);
}
.description a {
  background-color: var(--HotPink-color);
  border-radius: 10px;
  padding: 5px 5px;
  color: var(--White-color);
  display: block;
  text-decoration: none;
  margin-top: 20px;
}

.product,
.description {
  -webkit-transition: 1s;
  transition: 1s;
}

.card:hover .product {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .description {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

h5,
h1 {
  text-align: center;
  margin-top: 100px;
}

h5 {
  font-family: "Roboto", sans-serif;
  color: var(--IndianRed-color);
}

h1 {
  font-family: "Roboto", sans-serif;
  font-style: oblique;
  color: var(--Violet-color);
  font-size: clamp(2rem, 1.775rem + 1.125vw, 3.125rem);
}

.TemplateTest {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  margin: 60px 20px;
}
.TemplateTest .item {
  border-radius: 20px;
  -webkit-box-shadow: 2px;
          box-shadow: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.TemplateTest .item .Button {
  background-color: var(--LightBlue-color);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: var(--White-color);
  border-radius: 50px;
  width: 250px;
  height: 40px;
  text-align: center;
  padding: 10px;
}

@media (max-width: 557px) {
  main {
    margin-top: 60px;
  }
}
@media (max-width) {
  .workout {
    padding-top: -100px;
  }
}
@media (max-width: 1650px) {
  .TemplateTest {
    grid-template-columns: repeat(2, 250px);
  }
}
@media (max-width: 650px) {
  .TemplateTest {
    grid-template-columns: repeat(1, 250px);
  }
}
@media (max-width: 557px) {
  .workout {
    margin-top: 200px;
  }
}
@media (min-width: 558px) {
  .workout {
    margin-top: 200px;
  }
}
.workout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 150px;
  gap: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.workout .workout-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  height: 350px;
  -webkit-box-shadow: 0px 0px 10px 12px rgb(219, 219, 219);
          box-shadow: 0px 0px 10px 12px rgb(219, 219, 219);
  border-radius: 10px;
}
.workout .workout-list__item h2 {
  margin-left: 10px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  color: var(--White-color);
  background-color: var(--LightViolet-color);
  padding: 10px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
}
.workout .workout-list__item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-style: oblique;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid black;
}

.Form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}
.Form .Form-block {
  -webkit-box-shadow: 0px 0px 10px 12px rgb(219, 219, 219);
          box-shadow: 0px 0px 10px 12px rgb(219, 219, 219);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--Violet-color);
  margin-top: 20px;
  border-radius: 10px;
  width: 250px;
  height: 350px;
}
.Form .Form-block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Form .Form-block form input {
  padding: 10px 5px;
  border-radius: 10px;
}
.Form .Form-block form .Button {
  margin-top: 50px;
  font-size: 20px;
  padding: 5px 0px;
  border-radius: 10px;
  color: var(--White-color);
  background-color: var(--HotPink-color);
}
.Form .Form-block form label {
  color: var(--White-color);
  margin-top: 10px;
}

.h2 {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: oblique;
  color: var(--Violet-color);
  text-transform: uppercase;
  font-size: 30px;
}
.h2 span {
  color: var(--IndianRed-color);
}

.map {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 10px;
}
.map iframe {
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#Footer {
  border-radius: 4px 4px 0px 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--Violet-color);
}
#Footer .Big-Footer__Title {
  font-family: "Roboto", sans-serif;
  font-style: oblique;
  color: var(--White-color);
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 40px;
}
#Footer .Little-Footer__Title {
  font-family: "Roboto", sans-serif;
  color: var(--White-color);
}
#Footer .Color-Slogen {
  color: var(--IndianRed-color);
}
#Footer .Footer-Block {
  width: 250px;
  height: 250px;
  background-color: var(--White-color);
  border-radius: 10px;
}
#Footer .Footer-Title {
  text-align: center;
  padding-top: 40px;
}

.Footer-Contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  padding-bottom: 50px;
}
.Footer-Contact .Footer-Div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}
.Footer-Contact .Footer-Div .Footer-Block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  font-family: "Roboto", sans-serif;
}
.Footer-Contact .Footer-Div .Footer-Block .Footer-Block__Item {
  color: black;
  font-style: oblique;
}
.Footer-Contact .Footer-Div .Footer-Block .Footer-Block__ItemB {
  color: black;
  font-weight: 600;
}
.Footer-Contact .Footer-Div .Footer-Block .Programs {
  background-color: var(--HotPink-color);
}

.End {
  background-color: var(--DarkViolet-color);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.End .Footer-Ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  padding-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Programs {
  background-color: var(--HotPink-color) !important;
}

@media (max-width: 1920px) {
  .Footer-Div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}